.tooltip {
  position: absolute;
  width: 90px;
  height: 80px;
  padding: 10px;
  font: 9px sans-serif;
  text-align: center;
  color: white;
  background: lightslategrey;
  border: 0;
  border-radius: 10px;
  /* background: rgb(4, 70, 136); */

}

.jumbotron {
  border-radius: 25px;
  background: lightslategrey;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
  color: white;
  text-align: center;
  size: 10px

}
.chart { 
  border-radius: 5px;
  background: rgb(222, 231, 240);

}

.header2{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color:grey; 
}